<!-- <section>
    <li>${data.name}</li>
    <li>${data.address}</li>
</section> -->
<div class="jumbotron" style="background: gold;">
  <h1 class="display-4">${data.name}</h1>
  <p class="lead">${data.weightclass}</p>
  
</div>


<div id="vid">${data.video} </div>
<div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" id="card">${data.name}</h5>
        <p class="card-text">
          <br>
          Trainer: ${data.trainer}
          <br>

          Promoter: ${data.promoter}
          <br>

          Country: ${data.country}
          <br>

          Style:${data.fightingstyle}
          <br>

          Network: ${data.network}</p>
        <a href="#" class="btn btn-primary">Vote</a>
      </div>
    </div>
              <img src="${data.picture}" alt="">
      </div>
  </div>
</div>