<form action="/users/sign-up" method="POST">
    <label for="">
        First Name
        <input type="text" aria-placeholder="first Name" name="first_name">
        <label for="">Last Name
            <input type="text" aria-placeholder="last name" name="last_name">
        </label>
        <label for="">email
            <input type="text" aria-placeholder="email " name="email_address">
        </label>
        <label for="">Password
            <input type="password" aria-placeholder="Password " name="password">
            <button type="submit">click here!</button>
        </label>
    </label>
</form>
