<!-- <section>

    <li>${data.name}</li>
    <li>${data.address}</li>


</section> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            
                <br>
                ${data.name}
                <br>
                ${data.bio}
                <br>
                ${data.currentWeight}
                <br>
                ${data.video}
                <br>
                ${data.trainer}
                <br>

                ${data.promoter}
                <br>

                ${data.country}
                <br>

                ${data.fightingstyle}
                <br>

                ${data.network}
                <br>

                ${data.weightclass}
                <br>



                <img src="${data.picture}" alt="">
                <br>
                create form
                Stats Control
                textare Control
                submit button


                
        </div>
    </div>
</div>